<div class="col-sm-{{width}} {{addClass}} container-input" [style.font-size]="fontSize">
    <div class="form-group {{notFloat}} {{addClass}} {{isFocused}} label-floating  {{empty}}">
      <div class="input-group" style="width: 100%">
          <span *ngIf="iconBefore" class="input-group-addon"><i class="material-icons">{{iconBefore}}</i></span>
          <label *ngIf="label" class="control-label" >{{label}}</label>
          <input class="form-control"  [type]="type" [(ngModel)]="value" placeholder="{{placeholder}}" (focus)="focusIn();" (blur)="focusOut();">
          <span *ngIf="iconAfter" class="input-group-addon"><i class="material-icons">{{iconAfter}}</i></span>
          <span *ngIf="msgInput" class="help-block animate" >{{msgInput}}</span>
     </div>
    </div>
</div>