	<button md-tooltip="{{tooltip}}" md-ripple class="animate btn {{addClass}} col-sm-{{width}}" [type]="type" [style.font-size]="fontSize">
		<span class="container-button-float animate">
			<i *ngIf="icon" class="material-icons animate">{{icon}}</i>
			<div class="button-inner">
				{{label}}
				<ng-content></ng-content>
			</div>
		</span>
		<div *ngIf="badges" class="badges">{{badges}}</div>
	</button>
