<span  class="md-toggle col-sm-{{width}} {{addClass}}" [style.font-size]="fontSize">
   <input type="checkbox" #inputToggle class="hidden md-input-check" [(ngModel)]="value" [disabled]="disabled">
   <label md-ripple=".md-toggle-circle" for="toggle-2" class="cursor-hover md-container-toggle" (click)="check();"
   		 [style.font-size]="fontSize" md-tooltip="{{tooltip}}">
	   <span class="md-toggle-line"></span>
	   <span class="md-toggle-circle"></span>
	   <div class="md-toggle-label animate">{{label}}</div>
   	   <span *ngIf="msgInput" class="help-block animate" >{{msgInput}}</span>
   </label>
 </span>