@import "../../../../styles.scss";

.md-toggle {
	position: relative;
}
.md-container-toggle{
	position: relative;
	margin-left: 0.2em;
	margin-right: 0.2em;
	min-height: 2.5em;	
}
.md-toggle-label{
	position: relative;
	color: $color-out-focus;
	font-size: $font-size-default;
	font-weight: 550;
	overflow: hidden;
  	text-overflow: ellipsis;
  	margin-left: 3em;
  	top: 0.5em;
}
.md-toggle-line {	
	position: absolute;
	border-radius: 2em;
	margin-left: 0.5em;
	width: 2.35em;
	background-color: $color-out-focus;
	height: 1.2em;
	z-index: 1;
	margin-top: 0.4em;
}
.md-toggle-circle {
	@include animate($sleep);
	@include shadow-bottom();
	position: absolute;
	width: 1.6em;
	height: 1.6em;
	border: none;
	border-radius: 50%;
	background-color: $color-default;
	z-index: 2;
	margin-top: 0.15em;
 }
 .md-container-toggle .help-block{
 	width: 100%;
 	min-height: 1.5em;
 	padding-top: 0.2em;
 }
.md-input-check:checked ~ .md-container-toggle{
	.md-toggle-circle{
		background-color: $color-black;
		margin-left: 1.5em;
	}
	.md-toggle-label{
		color: $color-black;
	}
}
.md-container-toggle:hover {.md-toggle-label{color: $color-black;}}

.primary .md-input-check:checked ~ .md-container-toggle {
	.md-toggle-label{color: $color-primary;}
	.md-toggle-circle{background-color: $color-primary;}
	.md-toggle-line{background-color: rgba($color-primary, 0.5);}
}
.primary .md-container-toggle:hover {.md-toggle-label{color: $color-primary;}}

.default .md-container-toggle:hover {.md-toggle-label{color: $color-black;}}

.info .md-input-check:checked ~ .md-container-toggle {
	.md-toggle-label{color: $color-info;}
	.md-toggle-circle{background-color: $color-info;}
	.md-toggle-line{background-color: rgba($color-info, 0.5);}
}
.info .md-container-toggle:hover {.md-toggle-label{color: $color-info;}}

.warning .md-input-check:checked ~ .md-container-toggle {
	.md-toggle-label{color: $color-warning;}
	.md-toggle-circle{background-color: $color-warning;}
	.md-toggle-line{background-color: rgba($color-warning, 0.5);}
}
.warning .md-container-toggle:hover {.md-toggle-label{color: $color-warning;}}

.inverse .md-input-check:checked ~ .md-container-toggle {
	.md-toggle-label{color: $color-inverse;}
	.md-toggle-circle{background-color: $color-inverse;}
	.md-toggle-line{background-inverse: rgba($color-inverse, 0.5);}
}
.inverse .md-container-toggle:hover {.md-toggle-label{color: $color-inverse;}}

.danger .md-input-check:checked ~ .md-container-toggle {
	.md-toggle-label{color: $color-danger;}
	.md-toggle-circle{background-color: $color-danger;}
	.md-toggle-line{background-color: rgba($color-danger, 0.5);}
}
.danger .md-container-toggle:hover {.md-toggle-label{color: $color-danger;}}

.success .md-input-check:checked ~ .md-container-toggle {
	.md-toggle-label{color: $color-success;}
	.md-toggle-circle{background-color: $color-success;}
	.md-toggle-line{background-color: rgba($color-success, 0.5);}
}
.success .md-container-toggle:hover {.md-toggle-label{color: $color-success;}}

.md-input-check:disabled ~ .md-container-toggle{
	cursor: not-allowed;
	.md-toggle-circle{
		background-color: rgba($color-default, 0.8);
	}
	.md-toggle-label{
		color: rgba($color-out-focus, 0.2);
	}
	.md-toggle-line{
		background-color: rgba($color-out-focus, 0.1);
	}
}
.md-toggle.form-group-sm .md-container-toggle{
	font-size: $font-size-sm;
	.md-toggle-circle{
		top: 0.4em;
	}
	.md-toggle-label{
		top: 0.8em;
	}
	.md-toggle-line{
		top: 0.4em;
	}
}
.md-toggle.form-group-lg .md-container-toggle{
	font-size: $font-size-lg;
	.md-toggle-circle{
		top: 0.3em;
	}
	.md-toggle-label{
		top: 0.6em;
	}
	.md-toggle-line{
		top: 0.25em;
	}
}