<div class="col-sm-12 {{addClass}}">
    <div  class="container-spinner col-sm-12 animate" *ngIf="show || show == undefined">
        <div  #spinner class="spinner {{size}}">
          <div class="spinner-wrapper">
            <div class="rotator">
              <div class="inner-spin"></div>
              <div class="inner-spin"></div>
            </div>
          </div>
        </div>
        <div #spinnerLabel class="spinner-label animate">{{label}}</div>
    </div>
</div>