@import "../../../../styles.scss";

/* ----------------------------- Inicio Cicle ------------------------------------- */
.container-spinner{
	display: flex;
    position: relative;
    opacity: 1;
    padding: 0.5em;
    justify-content: center;
    align-items: center;
    
}
.spinner {
    position:relative;
    display: block;
    margin: -0.6em;
    width: 4.3em;
    height: 4.3em;
    padding: 0.1em;
    border: 0.1em solid rgba($color-black, 0.05);
    border-radius: 50%;
    @include set-scale(0.9);
    @include shadow-bottom-float();
}

.spinner-label{
	font-size: 2.8em;
	color: $color-black;
	margin-left: 0.3em;
}

.spinner-wrapper {
	position: relative;
	width: 4em;
	height: 4em;
	border-radius: 100%;
	left: calc(50% - 2em);
}

.spinner-wrapper::after {
	content: "";
	background: $color-default;
	border-radius: 50%;
	width: 3em;
	height: 3em;
	position: absolute;
	top: 0.5em;
	left: 0.5em;
} 
.rotator {
	position: relative;
	width: 4em;
	border-radius: 4em;
	overflow: hidden;
	-webkit-animation: rotate 1200ms infinite linear;
	        animation: rotate 1200ms infinite linear;
}
.rotator:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba($color-black, 1);
	border: 0.2em solid $color-default;
	border-radius: 100%;
}
.inner-spin {
	background: $color-default;
	height: 4em;
	width: 2em;
}
.inner-spin {
	-webkit-animation: rotate-left 2100ms infinite cubic-bezier(0.445, 0.050, 0.550, 0.950);
	        animation: rotate-left 2100ms infinite cubic-bezier(0.445, 0.050, 0.550, 0.950);
	border-radius: 2em 0 0 2em;
	-webkit-transform-origin: 2em 2em;
	        transform-origin: 2em 2em;
}
.inner-spin:last-child {
    -webkit-animation: rotate-right 2100ms infinite cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: rotate-right 2100ms infinite cubic-bezier(0.445, 0.050, 0.550, 0.950);
    margin-top: -4em;
    border-radius: 0 2em 2em 0;
    float: right;
    -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
}
/* Success */
.success .spinner-label{color: $color-success;}
.success .rotator:before {background: $color-success;}
/* Inverse */
.inverse .spinner-label{color: $color-inverse;}
.inverse .rotator:before {background: $color-inverse;}
/* Danger */
.danger .spinner-label{color: $color-danger;}
.danger .rotator:before {background: $color-danger;}
/* Warning */
.warning .spinner-label{color: $color-warning;}
.warning .rotator:before {background: $color-warning;}
/* Info */
.info .spinner-label{color: $color-info;}
.info .rotator:before {background: $color-info;}
/* Primary */
.primary .spinner-label{color: rgba($color-primary, 1)}
.primary .rotator:before {background: rgba($color-primary, 1)}
/* Default */
.default .spinner-label{color: $color-default;}
.default .rotator:before {background: $color-default;}

@-webkit-keyframes rotate-left {60%, 75%, 100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}}

@keyframes rotate-left {60%, 75%, 100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}}

@-webkit-keyframes rotate {
	0% {-webkit-transform: rotate(0);transform: rotate(0);}
  	100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}
@keyframes rotate {	
	0% {-webkit-transform: rotate(0);transform: rotate(0);}
  	100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}
@-webkit-keyframes rotate-right {
	0%, 25%, 45% {-webkit-transform: rotate(0);transform: rotate(0);}
  	100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}
@keyframes rotate-right {
	0%, 25%, 45% {-webkit-transform: rotate(0);transform: rotate(0);}
  	100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

.form-group-lg .container-spinner{
	font-size: 2em;
}
.form-group-sm .container-spinner{
	font-size: 0.7em;
}
/* ----------------------------- Fim Cicle ------------------------------------- */