<span  class="md-checkbox col-sm-{{width}} {{addClass}}" [style.font-size]="fontSize">
   <input type="checkbox" #inputCheck class="hidden md-input-check" [(ngModel)]="value" [disabled]="disabled">
   <label md-ripple=".back-square" class="cursor-hover md-container-checkbox" (click)="check();" [style.font-size]="fontSize"  md-tooltip="{{tooltip}}">
	   <span class="md-checkbox-square"></span>
	   <div class="md-checkbox-label animate">{{label}}</div>
	   <div class="back-square"></div>
   	   <span *ngIf="msgInput" class="help-block animate" >{{msgInput}}</span>
   </label>
 </span>