@import "../../../../styles.scss";

.md-checkbox {
	position: relative;
	color: $color-out-focus;
	top: 0.4em;
	margin-left: 0.2em;
	margin-right: 0.2em;
}
.md-container-checkbox{
	position: relative;
	min-width: 1.8em;
	min-height: 2.5em;
}
.md-checkbox-label{
	opacity: 1;
	top: 0.1em;
	color: $color-out-focus;
	font-size: $font-size-default;
	position: relative;
	font-weight: 550;
	margin-left: 1.7em;
	overflow: hidden;
  	text-overflow: ellipsis;
}
.md-checkbox-square {
	@include animate($sleep-fast);
	content: "";
	position: absolute;
	width: 1.5em;
	height: 1.5em;
	border: 0.18em solid $color-out-focus;
	border-radius: 0em;
	margin-top: -0.2em;
	z-index: 1;
	background-color: $color-default;
	color: $color-black;
 }
 .md-container-checkbox .help-block{
 	width: 100%;
 	min-height: 1.5em;
 	padding-top: 0.2em;
 }
.md-input-check:checked ~ .md-container-checkbox{
	.md-checkbox-square{
		width: 0.6em;
	    height: 1.2em;
	    border-width: 0.2em;
	    border-style: solid;
	    border-top: transparent;
	    border-left: transparent;
	    @include set-rotate(40deg);
	    border-radius: 0em;
	    margin-left: 0.5em;
	    background-color: transparent;
	    border-color: $color-black;
	}
	.md-checkbox-label{
		color: $color-black;
	}
}

.back-square{
	position: absolute;
	margin-top: -0.9em;
	height: 1.5em;
	width: 1.5em;
/* 	background-color: blue; */
}

.md-container-checkbox:hover {.md-checkbox-label{color: $color-black;}}

.primary .md-input-check:checked ~ .md-container-checkbox {
	.md-checkbox-label{color: $color-primary;}
	.md-checkbox-square{border-color: $color-primary;}
}
.primary .md-container-checkbox:hover {.md-checkbox-label{color: $color-primary;}}

.default .md-container-checkbox:hover {.md-checkbox-label{color: $color-black;}}

.info .md-input-check:checked ~ .md-container-checkbox {
	.md-checkbox-label{color: $color-info;}
	.md-checkbox-square{border-color: $color-info;}
}
.info .md-container-checkbox:hover {.md-checkbox-label{color: $color-info;}}

.warning .md-input-check:checked ~ .md-container-checkbox {
	.md-checkbox-label{color: $color-warning;}
	.md-checkbox-square{border-color: $color-warning;}
}
.warning .md-container-checkbox:hover {.md-checkbox-label{color: $color-warning;}}

.inverse .md-input-check:checked ~ .md-container-checkbox {
	.md-checkbox-label{color: $color-inverse;}
	.md-checkbox-square{border-color: $color-inverse;}
}
.inverse .md-container-checkbox:hover {.md-checkbox-label{color: $color-inverse;}}

.danger .md-input-check:checked ~ .md-container-checkbox {
	.md-checkbox-label{color: $color-danger;}
	.md-checkbox-square{border-color: $color-danger;}
}
.danger .md-container-checkbox:hover {.md-checkbox-label{color: $color-danger;}}

.success .md-input-check:checked ~ .md-container-checkbox {
	.md-checkbox-label{color: $color-success;}
	.md-checkbox-square{border-color: $color-success;}
}
.success .md-container-checkbox:hover {.md-checkbox-label{color: $color-success;}}

.md-input-check:disabled ~ .md-container-checkbox{
	cursor: not-allowed;
	.md-checkbox-square{
		border-color: rgba($color-out-focus, 0.1);
	}
	.md-checkbox-label{
		color: rgba($color-out-focus, 0.2);
	}
}

.md-checkbox.form-group-sm .md-container-checkbox{
	font-size: $font-size-sm;
	.md-checkbox-label{
		top: 0em;
	}
	.md-checkbox-square{
		top: -0.2em;
	}
}
.md-checkbox.form-group-lg .md-container-checkbox{
	font-size: $font-size-lg;
	.md-checkbox-label{
		top: 0.1em;
	}
	.md-checkbox-square{
		top: 0em;
	}
}