<div class="col-sm-{{width}} {{addClass}} container-input" [style.font-size]="fontSize" #inputContainer>
    <div class="form-group {{notFloat}} {{addClass}} {{isFocused}} label-floating  {{empty}}">
      <div class="input-group" style="width: 100%">
          <span *ngIf="icon" class="input-group-addon"><i class="material-icons">{{icon}}</i></span>
          <label *ngIf="label" class="control-label" >{{label}}</label>
          <input class="form-control md-select-control cursor-hover"  [type]="type" [(ngModel)]="value" 
          		placeholder="{{placeholder}}" (focus)="focusIn();" (blur)="focusOut();" readonly="readonly">
          <span class="select-arrow-end input-group-addon cursor-hover"><i class="material-icons">arrow_drop_down</i></span>
          <span *ngIf="msgInput" class="help-block animate" >{{msgInput}}</span>
     </div>
    </div>
	<div *ngIf="isShow" class="md-container-select" (@zoom.start)="onShowSelect();" [@zoom]="'in'">
	   	<div class="md-container-btn-close">
	   		<button class="btn" md-ripple="event" (click)="closeSelect();"><i class="material-icons">{{iconClose}}</i></button>
	   	</div>
	   	<div class="md-container-search-select">
	   		<md-input [label]="labelSearch" [iconBefore]="iconSearch" [(value)]="fieldSearch"></md-input>
	   	</div>
		<div class="md-container-select-options" (scroll)="onScrollOption($event)">
			<div class="md-container-option-hover animate"></div>
			<ul class="list-group">
				<md-option  *ngFor="let item of listFilter" [item]="item" id="{{id}}" field="{{field}}"></md-option>
			</ul>
		</div>
	</div>
	<div *ngIf="isShow" class="container-back-select" (click)="closeSelect();"></div>
</div>