@import "../../../../styles.scss";


.select-arrow-end{
	position: absolute;
	font-size: $font-size-lg;
	font-weight: bold;
	padding: 0em !important;
	top: 0em;
	right: -0.2em;
	width: 1.4em;
	height: 1.8em;
	z-index: -5;
}
 
.md-select-control{
	padding-right: 1.2em !important;
	
}

.md-container-select{
/* 	border: 1px solid red; */
	background-color: $color-default;
	@include shadow-bottom-float();
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 900;
	
}
.md-container-select-options{
	min-height: 2em;
	max-height: 19em;
	overflow: auto;
}
.md-container-select:hover{
	@include shadow-bottom-float-hover();
	
}

.container-back-select{
	position: fixed;
	display: block;
	left: 0em;
	right: 0em;
	top: 0em;
	bottom: 0em;
	height: 100%;
	width: 100%;
	z-index: 800;
}

.md-container-search-select{
	position: relative;
	width: 100%;
	padding: 0em 0.5em;
	padding-top: 0.9em;
	padding-right: 2em;
	height: 4.5em;
	overflow: hidden;
	z-index: 100;
}

.md-container-btn-close{
	position: absolute;
	height: 0em;
	width: 100%;
}

.md-container-btn-close .btn{
	float:right;
	top: -1.4em;
	right: -1.2em;
	z-index: 950;
	margin: 0em !important;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
/* 	border: 1px solid red; */
	padding: 0em;
	padding-left: 0.2em;
	line-height: 0em;
	height: 1.6em;
	width: 1.6em;
	font-size: $font-size-default;
	border-radius: 50%;
}
.md-container-btn-close .btn:hover{
	@include shadow-bottom();
	background-color: $color-default;
}

.md-container-option-hover{
	background-color: $color-default;
	position: absolute;
	width: 100%;
	z-index: 920;
	height: 0.2em;
}