@import "../../../../styles.scss";

.md-list-tab-container-out{
	margin: 0em;
	padding: 0em;
	
	font-size: $font-size-default;
	overflow: hidden;
}

.md-list-tab-container{
	margin-bottom: -0.2em;
	overflow: hidden;
}
.md-list-tab-container-out.form-group-sm{
	font-size: $font-size-sm;
}
.md-list-tab-container-out.form-group-lg{
	font-size: $font-size-lg;
}
	
.md-list-tab-container-titles{
	display: inline-flex;
	position: relative;
	@include animate($sleep);
}
.md-list-tab-item{
	@include animate($sleep);
	position: relative;
	display: inline-table;
	padding: 1.6em 1.5em 1.3em 1.5em;
	cursor: pointer;
	color: $color-out-focus;
  	&:hover{
  		color: $color-black;
  	}
  	&.active{
  		font-weight: 600;
  		color: $color-black;
  	}
}

.md-list-tab-item-container{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
  	text-overflow: ellipsis;
	max-width: 20em;
}
.md-list-tab-item-container > .md-list-tab-item-label{
  	width: 100%;                   
	height: 1.4em;
	text-overflow-mode: ellipsis;
  	white-space: nowrap;
  	overflow: hidden;    
  	text-overflow: ellipsis;
	
}
.md-list-tab-item-container .material-icons{
	margin-right: 0.3em;
	margin-top: -0.3em;
	
}
.md-list-tab-btn-back, .md-list-tab-btn-next{
	position: absolute;
	z-index: 950;
	display: block;
	padding: 1.5em 0.1em 1.15em 0.2em;
	cursor: pointer;
	color: $color-out-focus;
	@include animate($sleep);
	&:hover{
		font-weight: bold;
		color: $color-black;
	}
	

}

.md-list-tab-btn-back{
	box-shadow: 0.3em 0em 0.3em -0.4em rgba(0, 0, 0, 0.15), 0.5em -0em 0.4em -0.4em rgba(0, 0, 0, 0.1), 0.5em 0em 0.5em -0.4em rgba(0, 0, 0, 0.15) !important;
	-moz-box-shadow:  0.3em 0em 0.3em -0.4em rgba(0, 0, 0, 0.15), 0.5em -0em 0.4em -0.4em rgba(0, 0, 0, 0.1), 0.5em 0em 0.5em -0.4em rgba(0, 0, 0, 0.15) !important;
	-webkit-box-shadow: 0.3em 0em 0.3em -0.4em rgba(0, 0, 0, 0.15), 0.5em -0em 0.4em -0.4em rgba(0, 0, 0, 0.1), 0.5em 0em 0.5em -0.4em rgba(0, 0, 0, 0.15) !important;
}

.md-list-tab-btn-next{
	box-shadow: -0.3em 0em 0.3em -0.4em rgba(0, 0, 0, 0.15), -0.5em -0em 0.4em -0.4em rgba(0, 0, 0, 0.1), -0.5em 0em 0.5em -0.4em rgba(0, 0, 0, 0.15) !important;
	-moz-box-shadow: -0.3em 0em 0.3em -0.4em rgba(0, 0, 0, 0.15), -0.5em -0em 0.4em -0.4em rgba(0, 0, 0, 0.1), -0.5em 0em 0.5em -0.4em rgba(0, 0, 0, 0.15) !important;
	-webkit-box-shadow: -0.3em 0em 0.3em -0.4em rgba(0, 0, 0, 0.15), -0.5em -0em 0.4em -0.4em rgba(0, 0, 0, 0.1), -0.5em 0em 0.5em -0.4em rgba(0, 0, 0, 0.15) !important;
}

.md-list-tab-bar-animate{
	position: absolute;
	padding: 0em 1em;
	height: 0.15em;
	background-color: $color-black;
	width: 3em;
	top: 4.05em;
	left: 0em;
	@include animate($sleep);
}

.md-list-tab-body{
	width: 100%;
	overflow: hidden;
	padding:0em;
}

.shadown-tab-body{
	width: 100%;
	height: 0.15em;
	margin-top: 0em;
	background-color: rgba($color-black, 0.1);
	
}

.primary{
	& .md-list-tab-item {
		&:hover, &.active{
			color: $color-primary;
		}
	}
	.md-list-tab-bar-animate{background-color: $color-primary}
	.md-list-tab-btn-back, .md-list-tab-btn-next{	&:hover{color: $color-primary;}}
	
}
.inverse{
	& .md-list-tab-item {
		&:hover, &.active{
			color: $color-inverse;
		}
	}
	.md-list-tab-bar-animate{background-color: $color-inverse}
	.md-list-tab-btn-back, .md-list-tab-btn-next{	&:hover{color: $color-inverse;}}
}
.default{
	& .md-list-tab-item {
		&:hover, &.active{
			color: $color-default;
		}
	}
	.md-list-tab-bar-animate{background-color: $color-default}
	.md-list-tab-btn-back, .md-list-tab-btn-next{	&:hover{color: $color-default;}}
}
.info{
	& .md-list-tab-item {
		&:hover, &.active{
			color: $color-info;
		}
	}
	.md-list-tab-bar-animate{background-color: $color-info}
	.md-list-tab-btn-back, .md-list-tab-btn-next{	&:hover{color: $color-info;}}
}
.danger{
	& .md-list-tab-item {
		&:hover, &.active{
			color: $color-danger;
		}
	}
	.md-list-tab-bar-animate{background-color: $color-danger}
	.md-list-tab-btn-back, .md-list-tab-btn-next{	&:hover{color: $color-danger;}}
}
.warning{
	& .md-list-tab-item {
		&:hover, &.active{
			color: $color-warning;
		}
	}
	.md-list-tab-bar-animate{background-color: $color-warning}
	.md-list-tab-btn-back, .md-list-tab-btn-next{	&:hover{color: $color-warning;}}
}
.success{
	& .md-list-tab-item {
		&:hover, &.active{
			color: $color-success;
		}
	}
	.md-list-tab-bar-animate{background-color: $color-success}
	.md-list-tab-btn-back, .md-list-tab-btn-next{	&:hover{color: $color-success;}}
}