<div class="md-list-tab-container-out col-sm-{{width}} {{addClass}}">
	<div class="md-list-tab-container" >
		<div [style.left]="positionBtnLeft" class="md-list-tab-btn-back animte" md-ripple (mouseup)="backTabs()"><i class="material-icons">chevron_left</i></div>
		<div [style.right]="positionBtnRight" class="md-list-tab-btn-next animate" md-ripple (mouseup)="nextTabs()"><i class="material-icons">chevron_right</i></div>
		<div class="md-list-tab-container-titles animate" [style.margin-left]="marginLeftTittlesPx">
			<div class="md-list-tab-bar-animate"></div>
			<div class="md-list-tab-item" *ngFor="let item of list; let i = index" id="tab{{i}}" (mousedown)="clickTab(item, i)" md-ripple (mouseup)="onMouseUp()">
				<div class="md-list-tab-item-container">
					<span *ngIf="item.icon" class="material-icons" >{{item.icon}}</span>
					<span class="md-list-tab-item-label" >{{item.tittle}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="md-list-tab-body col-sm-12 animate" [style.height]="heightBody">
		<div class="shadown-tab-body"></div>
		<ng-content></ng-content>
	</div>
</div>