<li class="list-group-item animate {{addClass}} " md-ripple="event" (click)="clickOn(item);" [class.selected]="item.isSelected"
		[style.font-size]="fontSize"> 	
 	<span class="icon-list-item animate"><i class="material-icons">check</i></span>
 	<span class="text-list-item " >
 		<div class="label-text-list">
  			{{item[field]}}
 		</div>
 	</span>
 	<span class="options-list-item animate">
 		<i *ngIf="list.onEdit" class="material-icons cursor-hover" (click)="editOn(item);">edit</i>
 		<i *ngIf="list.onDelete" class="material-icons cursor-hover" (click)="deleteOn(item);">clear</i>
 	</span>
 </li>