<span  class="md-radio col-sm-{{width}} {{addClass}}" [style.font-size]="fontSize">
   <input type="radio" #inputRadio class="hidden md-input-check" [name]="name" [disabled]="disabled">
   <label md-ripple=".md-radio-back" for="radio-2" class="cursor-hover md-container-radio" (click)="check();" md-tooltip="{{tooltip}}">
	   <span class="md-radio-back"></span>
	   <span class="md-radio-circle"></span>
	   <div class="md-radio-label animate">{{label}}</div>
   	   <span *ngIf="msgInput" class="help-block animate" >{{msgInput}}</span>
   </label>
 </span>