@import "../../../../styles.scss";

.md-radio {
	position: relative;
}
.md-container-radio{
	position: relative;
	margin-left: 0.2em;
	margin-right: 0.2em;
	min-height: 2.5em;
	
}
.md-radio-label{
	position: relative;
	color: $color-out-focus;
	font-size: $font-size-default;
	font-weight: 550;
	overflow: hidden;
  	text-overflow: ellipsis;
  	margin-left: 1.7em;
  	top: 0.5em;
}
.md-radio-back {	
	@include animate($sleep-fast);
	@include shadow-bottom();
	position: absolute;
	border-radius: 50%;
	width: 1.4em;
	height: 1.4em;
	background-color: $color-default;
	z-index: 1;
	margin-top: 0.25em;
	border: 0.13em solid $color-out-focus;
}
.md-radio-circle {
	@include animate($sleep-fast);
	@include set-scale(0);
	position: absolute;
	border: none;
	border-radius: 50%;
	background-color: $color-default;
	z-index: 2;
	width: 0.7em;
	height: 0.7em;
	margin-top: 0.62em;
	left: 0.36em;
 }
 .md-container-radio .help-block{
 	width: 100%;
 	min-height: 1.5em;
 	padding-top: 0.2em;
 }
 
.back-radio{
/* 	position: absolute; */
	margin-top: -0.9em;
	height: 1.5em;
	width: 1.5em;
	background-color: blue;
	z-index: 500;
	display: block;
}
 
.md-input-check:checked ~ .md-container-radio{
	.md-radio-circle{
		@include set-scale(1);
		background-color: $color-black;
	}
	.md-radio-label{
		color: $color-black;
	}
	.md-radio-back {
		border: 0.13em solid $color-black;
	}
}
.md-container-radio:hover {.md-radio-label{color: $color-black;}}

.primary .md-input-check:checked ~ .md-container-radio {
	.md-radio-label{color: $color-primary;}
	.md-radio-circle{background-color: $color-primary;}
	.md-radio-back{background-color: rgba($color-primary, 0.5);}
}
.primary .md-container-radio:hover {.md-radio-label{color: $color-primary;}}

.default .md-container-radio:hover {.md-radio-label{color: $color-black;}}

.info .md-input-check:checked ~ .md-container-radio {
	.md-radio-label{color: $color-info;}
	.md-radio-circle{background-color: $color-info;}
	.md-radio-back{background-color: rgba($color-info, 0.5);}
}
.info .md-container-radio:hover {.md-radio-label{color: $color-info;}}

.warning .md-input-check:checked ~ .md-container-radio {
	.md-radio-label{color: $color-warning;}
	.md-radio-circle{background-color: $color-warning;}
	.md-radio-back{background-color: rgba($color-warning, 0.5);}
}
.warning .md-container-radio:hover {.md-radio-label{color: $color-warning;}}

.inverse .md-input-check:checked ~ .md-container-radio {
	.md-radio-label{color: $color-inverse;}
	.md-radio-circle{background-color: $color-inverse;}
	.md-radio-back{background-inverse: rgba($color-inverse, 0.5);}
}
.inverse .md-container-radio:hover {.md-radio-label{color: $color-inverse;}}

.danger .md-input-check:checked ~ .md-container-radio {
	.md-radio-label{color: $color-danger;}
	.md-radio-circle{background-color: $color-danger;}
	.md-radio-back{background-color: rgba($color-danger, 0.5);}
}
.danger .md-container-radio:hover {.md-radio-label{color: $color-danger;}}

.success .md-input-check:checked ~ .md-container-radio {
	.md-radio-label{color: $color-success;}
	.md-radio-circle{background-color: $color-success;}
	.md-radio-back{background-color: rgba($color-success, 0.5);}
}
.success .md-container-radio:hover {.md-radio-label{color: $color-success;}}

.md-input-check:disabled ~ .md-container-radio{
	cursor: not-allowed;
	.md-radio-circle{
		background-color: rgba($color-default, 0.7);
	}
	.md-radio-label{
		color: rgba($color-out-focus, 0.2);
	}
	.md-radio-back {
		border: 0.15em solid rgba($color-out-focus, 0.1);
	}
}

.md-radio.form-group-sm .md-container-radio{
	font-size: $font-size-sm;
	.md-radio-circle{
		top: 0.4em;
	}
	.md-radio-label{
		top: 0.8em;
	}
	.md-radio-back {
		top: 0.4em;
	}
}
.md-radio.form-group-lg .md-container-radio{
	font-size: $font-size-lg;
	.md-radio-circle{
		top: 0.25em;
	}
	.md-radio-label{
		top: 0.6em;
	}
	.md-radio-back {
		top: 0.25em;
	}
}