<div class="container-fluid">
	<h1>Teste</h1>
	<br><br><br><br><br>
	<br><br><br><br><br>
<!-- 	<div class="col-sm-12"> -->
<!-- 		<md-input label="Nome Completo" iconBefore="check"  addClass="" [(value)]="meuNome" width="4" placeholder="Informe seu nome"></md-input> -->
<!-- 		<button  md-ripple style="" class="btn danger col-sm-3">Teste</button> -->
<!-- 		<md-input label="Nome Completo" iconBefore="check"  addClass="" [(value)]="meuNome" width="4" placeholder="Informe seu nome"></md-input> -->
<!-- 		<md-input iconBefore="check" iconAfter="home" addClass="primary" [(value)]="meuNome" label="Nome" width="4" placeholder="Nome"></md-input> -->
<!-- 		<md-input iconBefore="check" iconAfter="home" addClass="success" [(value)]="meuNome" label="Nome" width="4" placeholder="Nome"></md-input> -->
<!-- 		<md-input iconBefore="check" iconAfter="home" addClass="info" [(value)]="meuNome" label="Nome" width="4" placeholder="Nome"></md-input> -->
<!-- 		<md-input iconBefore="check" iconAfter="home" addClass="inverse" [(value)]="meuNome" label="Nome" width="4" placeholder="Nome"></md-input> -->
<!-- 		<md-input iconBefore="check" iconAfter="home" addClass="default" [(value)]="meuNome" label="Nome" width="4" placeholder="Nome"></md-input> -->
		
<!-- 		<md-input iconBefore="check" iconAfter="home" addClass="primary form-group-sm" [(value)]="meuNome" label="Nome" width="4" placeholder="Nome"></md-input> -->
<!-- 		<md-input iconBefore="check" iconAfter="home" addClass="primary form-group-sm" [(value)]="meuNome" label="Nome" width="4" placeholder="Nome"></md-input> -->
<!-- 		<md-input iconBefore="check" iconAfter="home" addClass="primary form-group-sm" [(value)]="meuNome" label="Nome" width="4" placeholder="Nome"></md-input> -->
		
<!-- 		<md-input iconBefore="check" iconAfter="home" addClass="danger form-group-lg" [(value)]="meuNome" label="Nome" width="4" placeholder="Nome"></md-input> -->
<!-- 		<md-input iconBefore="check" iconAfter="home" addClass="warning form-group-lg" [(value)]="meuNome" label="Nome" width="4" placeholder="Nome"></md-input> -->
<!-- 		<md-input iconBefore="check" iconAfter="home" addClass="primary form-group-lg" [(value)]="meuNome" label="Nome" width="4" placeholder="Nome"></md-input> -->
<!-- 		<md-input iconBefore="check" iconAfter="home" addClass="primary form-group-lg" [(value)]="meuNome" label="Nome" width="4" placeholder="Nome"></md-input> -->
<!-- 		<md-input iconBefore="check" iconAfter="home" addClass="primary form-group-lg" [(value)]="meuNome" label="Nome" width="4" placeholder="Nome"></md-input> -->
<!-- 		<md-input iconBefore="check" iconAfter="home" addClass="primary form-group-lg" [(value)]="meuNome" label="Nome" width="4" placeholder="Nome"></md-input> -->
<!-- 		<md-input iconBefore="check" iconAfter="home" addClass="primary form-group-lg" [(value)]="meuNome" label="Nome" placeholder="Nome"></md-input> -->
<!-- 		<md-button addClass="raised fab" icon="">ABC</md-button> -->
<!-- 		<md-button addClass="inverse raised col-30">Nome</md-button> -->
<!-- 		<md-button icon="" addClass="primary btn-lg raised  fab float-right-bottom btn-out">ABC</md-button> -->
<!-- 	</div> -->
	<div class="col-sm-12 form-group">
		<md-input width="2" label="Substituido" addClass="form-group-sm" placeholder="Substituido" [(value)]="meuNome"></md-input>
		<md-textarea width="2" addClass="form-group-sm" [(value)]="meuNome" label="Substituindo" placeholder="Nome teste"></md-textarea>
		<md-input width="2" label="Substituido" addClass="form-group-sm" placeholder="Substituido" [(value)]="meuNome"></md-input>
		<md-button icon="explore" addClass="danger raised btn-sm" >Nome</md-button>
		<md-button  addClass="info raised btn-sm" >Teste nos botões</md-button>
		<md-input width="2" label="Substituido" addClass="form-group-sm" placeholder="Substituido" [(value)]="meuNome"></md-input>
		
	</div>
	<div class="col-sm-12 form-group">
		<md-input iconBefore="home" width="2" label="Substituido" addClass="danger" placeholder="Substituido" [(value)]="meuNome"></md-input>
		<md-textarea width="2" addClass="" [(value)]="meuNome" label="Substituindo" placeholder="Nome teste"></md-textarea>
		<md-input width="2" label="Substituido" addClass="" placeholder="Substituido" [(value)]="meuNome"></md-input>
		<div class="col-sm-4">
			<md-button  icon="explore" addClass="danger raised" >Nome</md-button>
			<md-button  addClass="info raised " >Teste nos botões</md-button>
		</div>
		<md-input width="2" label="Substituido" addClass="" placeholder="Substituido" [(value)]="meuNome"></md-input>
		
	</div>
	<div class="col-sm-12 form-group">
		<md-input width="2" label="Substituido" addClass="form-group-lg" placeholder="Substituido" [(value)]="meuNome"></md-input>
		<md-textarea width="2" addClass="form-group-lg" [(value)]="meuNome" label="Substituindo" placeholder="Nome teste"></md-textarea>
		<md-input width="2" label="Substituido" addClass="form-group-lg" placeholder="Substituido" [(value)]="meuNome"></md-input>
		<md-button width="" icon="explore" addClass="danger raised btn-lg" >Nome</md-button>
		<md-button width="" addClass="info raised btn-lg" >Teste nos botões</md-button>
		<md-input width="2" label="Substituido" addClass="form-group-lg" placeholder="Substituido" [(value)]="meuNome"></md-input>
		
	</div>
<!-- 	<div class="col-sm-12 form-group"> -->
<!-- 		<md-button addClass="warning raised col-30 btn-lg">Nome</md-button> -->
<!-- 		<md-button  addClass="success raised btn-lg" icon="check" >Nome</md-button> -->
		
<!-- 	</div> -->
	<div class="col-sm-12" >
		<button md-ripple  class="btn ripple raised primary" >Ripple</button>
		<button md-ripple  class="btn ripple" >Ripple</button>
		<button md-ripple  class="btn ripple" >Ripple</button>
	</div>
	<div class="col-sm-12">
		<div md-ripple=".teste" class="col-sm-12" style="height: 30em;color: red;border:solid 1px red;">
		 	<div class="teste" style="width: 10em; height: 10em; border-radius: 50%;color: green; background-color: pink; margin: 10em 40em;">teste</div>
		 </div>
	</div>
</div>
 
 <input [(ngModel)]="meuNome">
 <div class="col-sm-12 form-group" style="border: solid 1px yellow;">
	<md-input label="Teste" width="2" [(value)]="meuNome"></md-input>
	<md-checkbox [(value)]="isReal" label="Vázio" ></md-checkbox>
	<md-checkbox [(value)]="isReal" label="Primary" addClass="primary"></md-checkbox>
	<md-button addClass="">Check</md-button>
	<input type="checkbox" [(ngModel)]="isReal" />
	<md-checkbox [(value)]="isReal" label="Default" addClass="default"></md-checkbox>
	<md-checkbox [(value)]="isReal" label="Inverse" addClass="inverse"></md-checkbox>
	<md-checkbox [(value)]="isReal" label="Danger" addClass="danger"></md-checkbox>
	<md-checkbox [(value)]="isReal" label="Warning" addClass="warning"></md-checkbox>
	<md-checkbox [(value)]="isReal" label="Infor" addClass="info"></md-checkbox>
	<md-checkbox [(value)]="isReal" label="Success" addClass="success"></md-checkbox>
 </div>
 <div class="col-sm-12">
	<br><br>
	<br><br>
	<br><br>
	<br><br>
<div class="col-sm-12" style="border: solid 1px yellow;">
	<md-input [(value)]="meuNome" width="2"></md-input>
	<md-toggle [(value)]="isReal" label="Vázio"></md-toggle>
	<md-toggle addClass="primary" [(value)]="isReal" label="Primary"></md-toggle>
	<md-toggle addClass="info" [(value)]="isReal" label="Info"></md-toggle>
	<md-toggle addClass="default" [(value)]="isReal" label="Default"></md-toggle>
	<md-toggle addClass="warning" [(value)]="isReal" label="Warning"></md-toggle>
	<md-toggle addClass="success" [(value)]="isReal" label="Success"></md-toggle>
	<md-toggle addClass="inverse" [(value)]="isReal" label="Inverse"></md-toggle>
	<md-toggle addClass="danger" [(value)]="isReal" label="Danger"></md-toggle>
	<md-button addClass="">Check</md-button>
	<md-checkbox [(value)]="isReal" label="TEstando checkbox"></md-checkbox>
<!-- 	<md-checkbox [(value)]="isReal"></md-checkbox> -->
</div>
<div class="col-sm-12" style="border: solid 1px yellow;">
	<md-input [(value)]="meuNome" width="2"></md-input>
	<md-radio label="JAVA" setValue="JA" name="cursos" [(value)]="curso"></md-radio>
	<md-radio label="PHP"  setValue="PH" name="cursos" [(value)]="curso"></md-radio>
	<md-radio label="Java Script"  setValue="JS" name="cursos" [(value)]="curso"></md-radio>
	<md-radio label="Agular"  setValue="AJ" name="cursos" [(value)]="curso" tooltip="Fazendo teste do Tooltipo no checkbox"></md-radio>
	<md-toggle addClass="danger" [(value)]="isReal" label="Danger" tooltip="Fazendo teste do Tooltipo no checkbox"></md-toggle>
	<md-checkbox label="Teste"  tooltip="Fazendo teste do Tooltipo no checkbox"></md-checkbox>
	<md-checkbox label="Teste"></md-checkbox>
	<md-button addClass="">Check</md-button>
	<label>{{curso}}</label>
</div>
<div class="col-sm-12" style="border: solid 1px yellow;">
	<h3>Form Group SM</h3>
	<md-input [(value)]="meuNome" width="2" addClass="form-group-sm"></md-input>
	<md-checkbox addClass="form-group-sm" label="checkbox" tooltip="Fazendo teste do Tooltipo no checkbox"></md-checkbox>
	<md-toggle addClass="form-group-sm" label="toggle"></md-toggle>
	<md-radio addClass="form-group-sm" label="radio"></md-radio>
</div>
<div class="col-sm-12" style="border: solid 1px yellow;">
	<h3>Form Group LG</h3>
	<md-input [(value)]="meuNome" width="2" addClass="form-group-lg"></md-input>
	<md-checkbox addClass="form-group-lg" label="checkbox"></md-checkbox>
	<md-toggle addClass="form-group-lg" label="toggle"></md-toggle>
	<md-radio addClass="form-group-lg" label="radio"></md-radio>
</div>
	<br><br>
	<br><br>
	<div class="col-sm-12" style="border: solid 1px yellow;">
		<button class="btn form-group-lg raised" md-ripple> Teste BTN</button>
<!-- 		<md-select width="2"></md-select> -->
<!-- 	<md-select width="2" [list]="listaCursos" field="nome" [(itemSelected)]="cursoSelecionado"></md-select> -->
	<md-input width="2"></md-input>
	<md-textarea width="2">	</md-textarea>
	<md-select label="Linguagens de Programação" width="2" [list]="listaCursos" field="nome" [(listSelected)]="cursosSelecionados"></md-select>
<!-- 	<md-select width="2" [list]="listaCursos" field="nome" [(itemSelected)]="cursoSelecionado"></md-select> -->
		
	</div>
	
	<div class="col-sm-12" style="border: solid 1px yellow;">
		<h4>Cursos</h4>
<!-- 		<md-list addClass="" [list]="listaCursos" id="id" field="nome" [(listSelected)]="cursosSelecionados" [onEdit]="teste"></md-list> -->
		{{listaCursos}}
		<br>
		{{cursosSelecionados}}
		<br>
		<label class="animate">{{cursoSelecionado.nome}}</label>
		<ul>
			<li *ngFor="let curso of cursosSelecionados let i = index"
	          [@zoom]="'in'" (click)="removeMe(i)">{{curso.nome}}</li>
		</ul>
		
		<div *ngFor="let curso of cursosSelecionados let i = index" @zoom style="height: 4em;width: 4em;background-color: yellow;"></div>
<!-- 		<div class="panel"> -->
<!-- 			<div class="panel-heading">Cursos</div> -->
<!-- 			<div class="panel-body"> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 		<div class="panel panel-default"> -->
<!-- 			<div class="panel-heading">Default</div> -->
<!-- 			<div class="panel-body"> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 		<div class="panel panel-black"> -->
<!-- 			<div class="panel-heading">Primary</div> -->
<!-- 			<div class="panel-body"></div> -->
<!-- 		</div> -->
<!-- 		<div class="panel panel-primary"> -->
<!-- 			<div class="panel-heading">Primary</div> -->
<!-- 			<div class="panel-body"></div> -->
<!-- 		</div> -->
<!-- 		<div class="panel panel-danger"> -->
<!-- 			<div class="panel-heading">Danger</div> -->
<!-- 			<div class="panel-body"></div> -->
<!-- 		</div> -->
<!-- 		<div class="panel panel-warning"> -->
<!-- 			<div class="panel-heading">Warning</div> -->
<!-- 			<div class="panel-body"></div> -->
<!-- 		</div> -->
<!-- 		<div class="panel panel-info"> -->
<!-- 			<div class="panel-heading">Info</div> -->
<!-- 			<div class="panel-body"></div> -->
<!-- 		</div> -->
<!-- 		<div class="panel panel-inverse"> -->
<!-- 			<div class="panel-heading">Inverse</div> -->
<!-- 			<div class="panel-body"> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 		<div class="panel panel-success"> -->
<!-- 			<div class="panel-heading">Success</div> -->
<!-- 			<div class="panel-body"></div> -->
<!-- 		</div> -->
	</div>
	<md-button (click)="teste();"></md-button>
	<div class="col-sm-12">
		<md-list-tab width="12" addClass=" form-group">
			<md-tab tittle="Javascript efse sef sefs sfse s fsef 1 2 3 4 5 6 7 8 9 10 11 12">
				<div class="col-sm-12">
					<img class="img-responsive " src="https://cdn-images-1.medium.com/max/1600/1*ot7tWiPCYC01pV0kGmK3qQ.png" >
				</div>
			</md-tab>
			<md-tab tittle="PHP Orientado a Objetos" >
				<div class="col-sm-12">
					<img class="img-responsive " src="http://www.infoescola.com/wp-content/uploads/2011/03/php.jpg" >
				</div>
			</md-tab>
			<md-tab tittle="Cadastro">
				<div class="container-fluid">
					<div class="col-sm-12">
						<md-input label="Nome" width="6"></md-input>
						<md-button>Salvar</md-button>
						<md-input label="Sobre Nome"></md-input>
					</div>
				</div>
			</md-tab>
			<md-tab tittle="Pascal">
				<img class="img-responsive " src="http://2.bp.blogspot.com/-cZ8T5jNLKD0/UBqrq9A6gDI/AAAAAAAAAE4/sjxqtWaZUvk/s1600/pascal_logo.png" >
			</md-tab>
			<md-tab tittle="Ruby">
				<img class="img-responsive " src="http://3.bp.blogspot.com/-qlZIl8wX8t8/Tmeccgm3o_I/AAAAAAAAADk/3JOdqlPyttk/s1600/ruby.png" >
			</md-tab>
			<md-tab tittle="HTML 5">
				<img class="img-responsive " src="https://www.brasilprepara.com.br/portal/wp-content/uploads/2015/06/HTML-5.jpg" >
			</md-tab>
			<md-tab tittle="Lua">
				<img class="img-responsive " src="http://terminalroot.com.br/assets/img/dev/lua.jpg" >
			</md-tab>
			<md-tab tittle="Visual Basic">
				<img class="img-responsive " src="https://d2tycqyw09ngo1.cloudfront.net/be-content/uploads/2017/02/09182500/visual_basic-460x289.png" >
			</md-tab>
			<md-tab tittle="Arduino">
				<img class="img-responsive " src="http://danielandrade.net/files/arduino-1600x1280.png" >
			</md-tab>
			<md-tab tittle="Delphi">
				<img class="img-responsive " src="https://image.slidesharecdn.com/apresentao1-140908203345-phpapp02/95/linguagem-delphiintroduo-1-638.jpg?cb=1410208771" >
			</md-tab>
			<md-tab tittle="Java">
				<img class="img-responsive" src="http://3.bp.blogspot.com/-E9g-Wy14ke4/UEF2EKsM9eI/AAAAAAAAAak/xY2c4GjTcAQ/s1600/Programa%C3%A7%C3%A3o+Progressiva+-+A+Linguagem+de+Programa%C3%A7%C3%A3o+Java.jpg" >
			</md-tab>
		</md-list-tab>
		<md-button >Teste</md-button>
		<div class="col-sm-12">
			<br>
			<div class="shadow-top" style="height: 3em; width: 3em; background-color: white;"></div>
			<br>
			<div class="shadow-top-hover" style="height: 3em; width: 3em; background-color: white;"></div>
		</div>
	</div>
	
	<div class="col-sm-12">
<!-- 		<md-load-circle addClass="form-group-sm" label="Loading SM"></md-load-circle> -->
<!-- 		<md-load-circle addClass="" label="Loading"></md-load-circle> -->
<!-- 		<md-load-circle addClass="form-group-lg primary" label="Loading LG"></md-load-circle> -->
	</div>
	<div class="col-sm-12">
<!-- 		<md-load-line></md-load-line> -->
<!-- 		<md-load-line addClass="primary"></md-load-line> -->
	</div>
	<div class="col-sm-12">
		<md-button icon="check">EEEE</md-button>
	</div>
	<div class="col-sm-12">
		<br><br>
		<br><br>
		<br><br>
		<br><br>
		
		<br><br>
		<br><br>
		<md-button tooltip="Fazendo testes 1 EEEEEEEEEEEEEEEEEEEEEEEEEEEEEE e sf sefse fsef sef sese fsef sefs ef sefse sef ses e s sfsef sef sefs ef sef se sef sef sef sefs efse fsef  es ef sefsefsef sefs efs ef sef sef sefs ef sef sef sef ses ese sef sef sef sef sef sese fse fsef sef se se">Tooltip 1</md-button>
		<md-button tooltip="Fazendo testes 2">Tooltip 2</md-button>
		<md-button tooltip="Fazendo testes 3">Tooltip 3</md-button>
		<md-button tooltip="Fazendo testes 1 EEEEEEEEEEEEEEEEEEEEEEEEEEEEEE e sf sefse fsef sef sese fsef sefs ef sefse sef ses e s sfsef sef sefs ef sef se sef sef sef sefs efse fsef  es ef sefsefsef sefs efs ef sef sef sefs ef sef sef sef ses ese sef sef sef sef sef sese fse fsef sef se se">Tooltip 1</md-button>
		<md-button tooltip="Fazendo testes 4">Tooltip 4</md-button>
		<md-button tooltip="Fazendo testes 5">Tooltip 5</md-button>
		<md-button tooltip="Fazendo testes 6" >Tooltip 6</md-button>
		<md-button tooltip="Fazendo testes 7">Tooltip 7</md-button>
		<md-button tooltip="Fazendo testes 1 EEEEEEEEEEEEEEEEEEEEEEEEEEEEEE e sf sefse fsef sef sese fsef sefs ef sefse sef ses e s sfsef sef sefs ef sef se sef sef sef sefs efse fsef  es ef sefsefsef sefs efs ef sef sef sefs ef sef sef sef ses ese sef sef sef sef sef sese fse fsef sef se se">Tooltip 1</md-button>
		<md-button tooltip="Fazendo testes 8">Tooltip 8</md-button>
		<md-button tooltip="Fazendo testes 9">Tooltip 9</md-button>
		<md-button tooltip="Fazendo testes 10">Tooltip 10</md-button>
		<md-button tooltip="Fazendo testes 11">Tooltip 11</md-button>
		<md-button tooltip="Fazendo testes 12">Tooltip 12</md-button>
		<md-button tooltip="Fazendo testes 1 EEEEEEEEEEEEEEEEEEEEEEEEEEEEEE e sf sefse fsef sef sese fsef sefs ef sefse sef ses e s sfsef sef sefs ef sef se sef sef sef sefs efse fsef  es ef sefsefsef sefs efs ef sef sef sefs ef sef sef sef ses ese sef sef sef sef sef sese fse fsef sef se se">Tooltip 1</md-button>
		<md-button tooltip="Fazendo testes 13">Tooltip 13</md-button>
		<md-button tooltip="Fazendo testes 1 EEEEEEEEEEEEEEEEEEEEEEEEEEEEEE e EEEEEEEEEEEEEEEEEEEEEEEEEE EEEEEEEEE sf s sef sef sef ses ese sef sef sef sef sef sese fse fsef sef se se">Tooltip 1</md-button>
		<md-button tooltip="Fazendo testes 17">Tooltip 18</md-button>
		<md-button tooltip="Fazendo testes 14">Tooltip 14</md-button>
		<md-button tooltip="Fazendo testes 15">Tooltip 15</md-button>
		<md-button tooltip="Fazendo testes 16">Tooltip 17</md-button>
		<md-button tooltip="Fazendo testes 14">Tooltip 14</md-button>
		<md-button tooltip="Fazendo testes 1 EEEEEEEEEEEEEEEEEEEEEEEEEEEEEE e sf sefse fsef sef sese fsef sefs ef sefse sef ses e s sfsef sef sefs ef sef se sef sef sef sefs efse fsef  es ef sefsefsef sefs efs ef sef sef sefs ef sef sef sef ses ese sef sef sef sef sef sese fse fsef sef se se">Tooltip 1</md-button>
		<md-button tooltip="Fazendo testes 15">Tooltip 15</md-button>
		<md-button tooltip="Nós funcioando">Tooltip 17</md-button>
		<br><br>
		<br><br>
		<br><br>
		<br><br>
		<br><br>
		<br><br>
		<br><br>
		<md-input width="2" label="statusDefault"></md-input>
		<md-button  label="statusDefault" addClass=""></md-button>
		<md-checkbox label="statusDefault"></md-checkbox>
		<br><br>
		<br><br>
		<br><br>
		<br><br>
		<br><br>
	</div>
 </div>
 <div class="col-sm-12">
 	<md-input addClass="form-group-sm" width="2" label="statusDefault"></md-input>
	<md-button  label="statusDefault" addClass="btn-sm"></md-button>
	<md-checkbox label="statusDefault" addClass="form-group-sm"></md-checkbox>
 </div>
 <div class="col-sm-12">
 	<md-input addClass="form-group-lg" width="2" label="statusDefault"></md-input>
	<md-button  label="statusDefault" addClass="btn-lg"></md-button>
	<md-checkbox label="statusDefault" addClass="form-group-lg"></md-checkbox>
 </div>
         