@import "../../../../styles.scss";
/*  -------------------------- Line ----------------------- */
.loading-container{
/* 	background-color:  rgba($color-black, 0.1); */
	overflow: hidden;
	margin:0;
	padding: 0;
}

.loading-square{
	animation: loading-square 3s infinite;
	position: relative;
	font-size: 0.4em;
	width: 10%;
	background-color: $color-black;
	margin:0em;
}
/* Inverse */
.inverse .loading-square, .table-inverse   .loading-square{background-color:  $color-inverse;}
/* Danger */
.danger .loading-square, .table-danger  .loading-square {background-color:  $color-danger;}
/* Warning */
.warning .loading-square, .table-warning .loading-square {background-color:  $color-warning;}
/* Info */
.info .loading-square, .table-info .loading-square {background-color:   $color-info;}
/* Success */
.success .loading-square, .table-success .loading-square {background-color:   $color-success;}
/* Primary */
.primary .loading-square, .table-primary .loading-square {background-color:   $color-primary}
/* Default */
.default .loading-square, .table-default .loading-square {background-color:   $color-default;}

@-webkit-keyframes loading-square {
   0% {left: -30%;width: 30%;}
   10% {left: 10%;;width: 60%;}
   60% {left: 100%;width: 100%;opacity: 1;}
   60.1% {left: 100%;width: 0%;opacity: 0;}
   60.2% {left: -10%;width: 10%;opacity: 1;}
   60.3% {left: 10%;width: 50%;opacity: 1;}
   80% {left: 100%;width: 100%;opacity: 1;}
   80.1% {left: 100%;width: 0%;opacity: 0;}
   80.2% {left: -20%;width: 20%;opacity: 1;}
   80.3% {left: -20%;width: 20%;opacity: 1;}
   100% {left: 100%;width: 100%;opacity: 1;}
} 

@keyframes loading-square {
   0% {left: -30%;width: 30%;}
   10% {left: 10%;;width: 60%;}
   60% {left: 100%;width: 100%;opacity: 1;}
   60.1% {left: 100%;width: 0%;opacity: 0;}
   60.2% {left: -10%;width: 10%;opacity: 1;}
   60.3% {left: 10%;width: 50%;opacity: 1;}
   80% {left: 100%;width: 100%;opacity: 1;}
   80.1% {left: 100%;width: 0%;opacity: 0;}
   80.2% {left: -20%;width: 20%;opacity: 1;}
   80.3% {left: -20%;width: 20%;opacity: 1;}
   100% {left: 100%;width: 100%;opacity: 1;}
/*    Segunda vez */
}
/* ----------------------------- Fim LIne ------------------------------------- */