<div class="col-sm-{{width}} {{addClass}} container-input" [style.font-size]="fontSize">
    <div class="form-group {{notFloat}} {{addClass}} {{isFocused}} label-floating  {{empty}}">
      <div class="input-group group-textarea" style="width: 100%">
          <span *ngIf="iconBefore" class="input-group-addon"><i class="material-icons">{{iconBefore}}</i></span>
          <label *ngIf="label" class="control-label" >{{label}}</label>
         <textarea class="form-control"  type="text" [(ngModel)]="value" placeholder="{{placeholder}}" cols="{{cols}}" rows="{{rows}}"
           (focus)="focusIn();" (blur)="focusOut();"></textarea>
          <span *ngIf="iconAfter" class="input-group-addon"><i class="material-icons">{{iconAfter}}</i></span>
          <span *ngIf="msgInput" class="help-block text-danger animate" >{{msgInput}}</span>
     </div>
    </div>
</div>