<li class="list-group-item animate {{addClass}} " md-ripple="event" (click)="clickOn(item, $event);" 
   		[class.selected]="item.isSelected"	[style.font-size]="fontSize" [@zoomOption]="'in'"> 	
 	<span class="icon-list-item animate"><i class="material-icons" >check</i></span>
 	<span class="text-list-item " >
 		<div class="label-text-list">
  			{{item[field]}}
 		</div>
 	</span>
 	<span class="options-list-item animate">
 		<i *ngIf="select.onEdit" class="material-icons cursor-hover" (click)="editOn(item);">edit</i>
 		<i *ngIf="select.onDelete" class="material-icons cursor-hover" (click)="deleteOn(item);">clear</i>
 	</span>
 </li>