/* ------------------------------------------- Fontes Icones da Google*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* ------------------------------------------- Sleep */
$sleep-fast: 300ms;
$sleep: 500ms;
$sleep-slow: 1s;
$sleep-more-slow: 1.5s;
$sleep-very-slow: 2.5s;
/* ------------------------------------------- Medidas  */
$font-size-default: 1.1em;
$font-size-sm: 0.95em;
$font-size-lg: 1.4em;
$padding-default: 0.6em 0.8em;
$padding-input: 0.5em 0.25em;

/* ------------------------------------------- Cores Padrao */
$color-black: rgba(0, 0, 0, 1);
$color-tooltip: rgba(33, 33, 33, 1);
$color-white: rgba(255, 255, 255, 1);
$color-out: rgba(0, 0, 0, 1);
$color-out-focus: rgba(0, 0, 0, 0.3);
/* ------------- Primary */
$color-primary: rgba(63, 81, 181, 1);
$color-primary-hover:  lighten($color-primary, 5%);
$color-primary-dark:  darken($color-primary, 5%);
/* -------------- Success */
$color-success: rgba(0, 150, 136, 1);
$color-success-hover:  lighten($color-success, 4%);
$color-success-dark:  darken($color-success, 4%);
/* -------------- Info */
$color-info: rgba(3, 169, 244, 1);
$color-info-hover:  lighten($color-info, 6%);
$color-info-dark:  darken($color-info, 6%);
/* -------------- Warning */
$color-warning: rgba(255, 152, 0, 1);
$color-warning-hover:  lighten($color-warning, 7%);
$color-warning-dark:  darken($color-warning, 7%);
/* --------------- Danger */
$color-danger: rgba(244, 67, 54, 1);
$color-danger-hover:  lighten($color-danger, 6%);
$color-danger-dark:  darken($color-danger, 6%);
/* --------------- Inverse */
$color-inverse: rgba(121, 85, 72, 1);
$color-inverse-hover:  lighten($color-inverse, 6%);
$color-inverse-dark: $color-inverse;
/*---------------- Default */
$color-default: $color-white;
$color-default-hover:  darken($color-default, 4%);
$color-default-dark:  darken($color-default, 4%);
/* --------------------------------------------- Divesos */
$font-focus: 0.8em;
$font-msg-input: 0.8em;
$font-msg-input-sm: 0.6em;
$font-msg-input-lg: 0.9em;

/* --------------------------------------------- Resert */
body{font-weight:500;font-size: 14px;;margin: 0;font: 500 14px/20px Roboto,RobotoDraft, Helvetica,Arial, sans-serif;width: 100%; line-height: 1; margin:auto; background-color: rgba(242, 242, 242, 1); box-sizing: border-box;}
.material-icons {
  font-size: 1.3em;
  display: inline-flex;
  line-height: inherit;
  position: relative;
  align-content: center;
/*   border: 1px solid black; */
}
/* larguras para ajudar nas construcoes da tela */
.col-1{width: 1%;} .col-2{	width: 2%;} .col-3{	width: 3%;} .col-4{	width: 4%;} .col-5{	width: 5%;}
.col-6{	width: 6%;} .col-7{	width: 7%;} .col-8{	width: 8%;} .col-9{	width: 9%;} .col-10{width: 10%;}
.col-15{width: 15%;} .col-20{width: 20%;} .col-25{width: 25%;} .col-30{width: 30%;} .col-35{width: 35%;}
.col-40{width: 40%;} .col-45{width: 45%;} .col-50{width: 50%;} .col-55{width: 55%;} .col-60{width: 60%;}
.col-65{width: 65%;} .col-70{width: 70%;} .col-75{width: 75%;} .col-80{width: 80%;} .col-85{width: 85%;}
.col-90{width: 90%;} .col-95{width: 95%;} .col-100{width: 100%;}
/* larguras para ajudar nas construÃ§Ãµes da tela */

h7{font-size: 0.8em;margin-top: 0.09em;margin-bottom: 0.06em}
h6{font-size: 1em;margin-top: 0.2em;margin-bottom: 0.25em}
h5{font-size: 1.25em;margin-top: 0.25em;margin-bottom: 0.3em}
h4{font-size: 1.4em;margin-top: 0.35em;margin-bottom: 0.4em;}
h3{font-size: 1.6em;margin-top: 0.5em;margin-bottom: 0.6em;}
h2{font-size: 1.8em;margin-top: 0.8em;margin-bottom: 0.9em;}
h1{font-size: 2.3em;margin-top: 1em;margin-bottom: 1.2em;;}
h1, h2, h3, h4, h5, h6{font-weight: 400;}
/*----------------------------------------- Formatacoes para diferentes telas */
@media (min-width: 3599px) {body{font-size: 2em;}}
@media (min-width: 3200) and (max-width: 3599px) {body{font-size: 1.8em;}}
@media (min-width: 2500px) and (max-width: 3199px) {body{font-size: 1.7em;}}
@media (min-width: 1920px) and (max-width: 2499px) {body{font-size: 1.6em;}}
@media (min-width: 1800px) and (max-width: 1919px) {body{font-size: 1.5em;}}
@media (min-width: 1600px) and (max-width: 1799px) {body{font-size: 1.4em;}}
@media (min-width: 1366px) and (max-width: 1599px) {body{font-size: 1.3em;}}
@media (min-width: 1280px) and (max-width: 1365px) {body{font-size: 1.2em;}}
@media (min-width: 1024px) and (max-width: 1279px) {body{font-size: 1.1em;}}
@media (min-width: 960px) and (max-width: 1023px) {body{font-size: 1em;}}
@media (min-width: 820px) and (max-width: 959px) {body{font-size: 0.9em;}}
@media (min-width: 640px) and (max-width: 819px) {body{font-size: 0.8em;}}
@media (min-width: 480px) and (max-width: 639px) {body{font-size: 0.7em}	.hidden-tablet{display: none;}}
@media (max-width: 479px) {	body{font-size: 0.6em;} .hidden-phone{display: none;} .hidden-tablet{display: none;}}
@media (max-width: 319px) {	body{font-size: 0.5em;}	.hidden-phone{display: none;} .hidden-tablet{display: none;}}

/* ------------------------------------------- Animações */
@mixin animate($time){
   -webkit-transition: all $time ease;
   -o-transition: all $time ease;
   -ms-transition: all $time ease;
   -moz-transition: all $time ease;
   transition: all $time ease;
}

@mixin set-scale($scale){
	-webkit-transform: scale($scale);
   -moz-transform: scale($scale);
    -ms-transform: scale($scale);
     -o-transform: scale($scale);
        transform: scale($scale);
}

@mixin set-rotate($rotate){
	-webkit-transform: rotate($rotate);
    -moz-transform: rotate($rotate);
    -ms-transform: rotate($rotate);
    -o-transform: rotate($rotate);
    transform: rotate($rotate);
}


.animate-fast{@include animate($sleep-fast)} .animate{@include animate($sleep)} .animate-slow{@include animate($sleep-slow)}
.animate-more-slow{@include animate($sleep-more-slow)} .animate-very-slow{@include animate($sleep-very-slow)}
.animate:visible{
	background-color: blue;
}

.animate-zoom-in{
	@include set-scale(1);	
	animation: animate-zoom-in 0.5s  ease 1;
	-webkit-animation: animate-zoom-in 0.5s  ease 1;
	
} 
.animate-zoom-out{
	animation: animate-zoom-out 0.5s  ease;
	-webkit-animation: animate-zoom-out 0.5s  ease;
} 
.animate-zoom{
	@include set-scale(0);	
}

@-webkit-keyframes animate-zoom-in{
	0%{
		@include set-scale(0);
	}
	70%{
		@include set-scale(1.2);	
	}

	100%{
		@include set-scale(1);	
	}
}
@-webkit-keyframes animate-zoom-out{
	0%{
		@include set-scale(1);
	}
	30%{
		@include set-scale(1.2);	
	}

	100%{
		@include set-scale(0);	
	}
}
/* ------------------------------------------- Sombras */
/* -------- Bottom */
@mixin shadow-bottom(){
	box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.16), 0em 0.25em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
	-moz-box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.16), 0em 0.25em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
	-webkit-box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.16), 0em 0.25em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
}
@mixin shadow-bottom-hover(){
	box-shadow: 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.15), 0em 0.4em 0.4em 0em rgba(0, 0, 0, 0.1), 0em 0.4em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
  	-moz-box-shadow: 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.15), 0em 0.4em 0.4em 0em rgba(0, 0, 0, 0.1), 0em 0.4em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
	-webkit-shadow: 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.15), 0em 0.4em 0.4em 0em rgba(0, 0, 0, 0.1), 0em 0.4em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
}
@mixin shadow-bottom-focus(){
	box-shadow: 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.3), 0em 0.4em 0.4em 0em rgba(0, 0, 0, 0.2), 0em 0.4em 0.5em 0em rgba(0, 0, 0, 0.18) !important;
	-moz-box-shadow:  0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.3), 0em 0.4em 0.4em 0em rgba(0, 0, 0, 0.2), 0em 0.4em 0.5em 0em rgba(0, 0, 0, 0.18) !important;
	-webkit-box-shadow:  0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.3), 0em 0.4em 0.4em 0em rgba(0, 0, 0, 0.2), 0em 0.4em 0.5em 0em rgba(0, 0, 0, 0.18) !important;
}

@mixin shadow-bottom-float(){
	box-shadow: 0em 0.4em 1em -0.2em rgba(0, 0, 0, 0.15), 0em 0.8em 1.2em -0.2em rgba(0, 0, 0, 0.15), 0em 1em 1.4em -0.2em rgba(0, 0, 0, 0.18) !important;
	-moz-box-shadow: 0em 0.4em 1em -0.2em rgba(0, 0, 0, 0.15), 0em 0.8em 1.2em -0.2em rgba(0, 0, 0, 0.15), 0em 1em 1.4em -0.2em rgba(0, 0, 0, 0.18) !important;
	-webkit-box-shadow:  0em 0.4em 1em -0.2em rgba(0, 0, 0, 0.15), 0em 0.8em 1.2em -0.2em rgba(0, 0, 0, 0.15), 0em 1em 1.4em -0.2em rgba(0, 0, 0, 0.18) !important;
}

@mixin shadow-bottom-float-hover(){
	box-shadow: 0em 0.4em 1em 0em rgba(0, 0, 0, 0.25), 0em 0.8em 1.2em 0em rgba(0, 0, 0, 0.2), 0em 1em 1.4em 0em rgba(0, 0, 0, 0.25) !important;
	-moz-box-shadow:  0em 0.4em 1em 0em rgba(0, 0, 0, 0.25), 0em 0.8em 1.2em 0em rgba(0, 0, 0, 0.2), 0em 1em 1.4em 0em rgba(0, 0, 0, 0.25) !important;
	-webkit-box-shadow:  0em 0.4em 1em 0em rgba(0, 0, 0, 0.25), 0em 0.8em 1.2em 0em rgba(0, 0, 0, 0.2), 0em 1em 1.4em 0em rgba(0, 0, 0, 0.25) !important;
}

/* -------- Top */
@mixin shadow-top(){
	box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), 0em -0.2em 0.3em 0em rgba(0, 0, 0, 0.16), 0em -0.25em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
	-moz-box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), 0em -0.2em 0.3em 0em rgba(0, 0, 0, 0.16), 0em -0.25em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
	-webkit-box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), 0em -0.2em 0.3em 0em rgba(0, 0, 0, 0.16), 0em -0.25em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
}

@mixin shadow-top-hover(){
	box-shadow: 0em -0.2em 0.3em 0em rgba(0, 0, 0, 0.15), 0em -0.4em 0.4em 0em rgba(0, 0, 0, 0.1), 0em -0.4em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
	-moz-box-shadow:  0em -0.2em 0.3em 0em rgba(0, 0, 0, 0.15), 0em -0.4em 0.4em 0em rgba(0, 0, 0, 0.1), 0em -0.4em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
	-webkit-box-shadow: 0em -0.2em 0.3em 0em rgba(0, 0, 0, 0.15), 0em -0.4em 0.4em 0em rgba(0, 0, 0, 0.1), 0em -0.4em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
}
/* -------- Left */
@mixin shadow-left(){
	box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), -0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.16), -0.25em 0em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
	-moz-box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), -0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.16), -0.25em 0em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
	-webkit-box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), -0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.16), -0.25em 0em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
}

@mixin shadow-left-hover(){
	box-shadow: -0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.15), -0.4em -0em 0.4em 0em rgba(0, 0, 0, 0.1), -0.4em -0em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
	-moz-box-shadow:  -0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.15), -0.4em -0em 0.4em 0em rgba(0, 0, 0, 0.1), -0.4em -0em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
	-webkit-box-shadow: -0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.15), -0.4em -0em 0.4em 0em rgba(0, 0, 0, 0.1), -0.4em -0em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
}
/* -------- right */
@mixin shadow-right(){
	box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), 0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.16), 0.25em 0em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
	-moz-box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), 0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.16), 0.25em 0em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
	-webkit-box-shadow: 0em 0em 0.2em 0.01em rgba(0, 0, 0, 0.2), 0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.16), 0.25em 0em 0.2em -0.2em rgba(0, 0, 0, 0.1) !important;
}

@mixin shadow-right-hover(){
	box-shadow: 0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.15), 0.4em -0em 0.4em 0em rgba(0, 0, 0, 0.1), 0.4em -0em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
	-moz-box-shadow:  0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.15), 0.4em -0em 0.4em 0em rgba(0, 0, 0, 0.1), 0.4em -0em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
	-webkit-box-shadow: 0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.15), 0.4em -0em 0.4em 0em rgba(0, 0, 0, 0.1), 0.4em -0em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
}

.shadow-bottom{
	@include shadow-bottom();
}
.shadow-bottom-hover{
	@include shadow-bottom-hover();
}
.shadow-bottom-focus{
	@include shadow-bottom-focus();
}
.shadow-top{
	@include shadow-top();
}
.shadow-top{
	@include shadow-top();
}
.shadow-top-hover{
	@include shadow-top-hover();
}


/* ------------------------------------------- Botoes */

@mixin set-style-button($cor-p, $cor-hover, $cor-dark){
	color: $cor-p;
	&.raised{
		background-color: $cor-p;
		color: $color-white;
		&:focus, &.active, &.active:focus, &.active.focus{
				background-color: $cor-dark;
			&:hover{
				background-color: $cor-dark;
			}			
		}
		&:hover{
			background-color: $cor-hover;
		}	
	}
}
.container-button{
	display: flex;
	 justify-content: center;
	 align-items: center
}
.btn{
	font-weight: 600;
	@include animate($sleep-fast);
	/* --------- Default */
	&.raised{
	  background-color: $color-default;	
	  @include shadow-bottom();
	}
	&:hover{
		@include shadow-bottom();
		&.raised{
			@include shadow-bottom-hover();
		}
		background-color: $color-default-hover;	
	}
/* 	Cores */
	&.primary, .primary &{
		@include set-style-button($color-primary, $color-primary-hover, $color-primary-dark);
	}
	&.info, .info &{
		@include set-style-button($color-info, $color-info-hover, $color-info-dark);
	}
	&.success, .success &{
		@include set-style-button($color-success, $color-success-hover, $color-success-dark);
	}
	&.warning, .warning &{
		@include set-style-button($color-warning, $color-warning-hover, $color-warning-dark);
	}
	&.danger, .danger &{
		@include set-style-button($color-danger, $color-danger-hover, $color-danger-dark);
	}
	&.inverse, .inverse &{
		@include set-style-button($color-inverse, $color-inverse-hover, $color-inverse-dark);
	}
	&.default, .default &{
		@include set-style-button($color-black, rgba($color-black, 0.8), rgba($color-black, 0.7));
	}
	&:focus, &.active, &.active:focus, &.active.focus{
		background-color: $color-default-dark;			
		@include shadow-bottom-focus();
	}
}

/* ------------------------------------------- Caixa de texto */
@mixin set-style-input($color){
	outline: none;
	color: $color;
	background-image: -webkit-gradient(linear, left top, left bottom, from($color), to($color)), -webkit-gradient(linear, left top, left bottom, from($color-out-focus), to($color-out-focus));
	background-image: -webkit-linear-gradient($color, $color), -webkit-linear-gradient($color-out-focus, $color-out-focus);
	background-image: -o-linear-gradient($color, $color), -o-linear-gradient($color-out-focus, $color-out-focus);
	background-image: linear-gradient($color, $color), linear-gradient($color-out-focus, $color-out-focus);
	-webkit-background-size: 100% 0.18em, 100% 0.09em;
	        background-size: 100% 0.18em, 100% 0.09em;
	-webkit-box-shadow: none;
	        box-shadow: none;
	-webkit-transition-duration: 0.3s;
	     -o-transition-duration: 0.3s;
	        transition-duration: 0.3s;
}

@mixin set-style-input-out($color-out){
	outline: none;
    background-color: rgba(0, 0, 0, 0);
	background-image: -webkit-gradient(linear, left top, left bottom, from($color-out), to($color-out)), -webkit-gradient(linear, left top, left bottom, from($color-out-focus), to($color-out-focus));
	background-image: -webkit-linear-gradient($color-out, $color-out), -webkit-linear-gradient($color-out-focus, $color-out-focus);
	background-image: -o-linear-gradient($color-out, $color-out), -o-linear-gradient($color-out-focus, $color-out-focus);
	background-image: linear-gradient($color-out, $color-out), linear-gradient($color-out-focus, $color-out-focus);
 	-webkit-background-size: 0 0.24em, 100% 0.18em;
          background-size: 0 0.24em, 100% 0.18em;
	background-repeat: no-repeat;
	background-position: center bottom, center -webkit-calc(100% - 0.09em);
	background-position: center bottom, center calc(100% - 0.09em);
	-webkit-transition: background 0.1s ease-out;
	     -o-transition: background 0.1s ease-out;
	        transition: background 0.1s ease-out;
		  float: none;
		  -webkit-box-shadow: none;
		          box-shadow: none;
		  border-radius: 0;
}
