<ul class="list-group col-sm-{{width}} {{addClass}}" [style.font-size]="fontSize">
	<md-list-item *ngFor="let item of list" [item]="item" id="{{id}}" field="{{field}}"></md-list-item>
	<ng-content></ng-content>
</ul>